<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Inchoo_Slider::post" title="Slider" translate="post" module="Inchoo_Slider" sortOrder="20"  resource="Inchoo_Slider::post"/>
		 <add id="Inchoo_MenuItem::second_level_demo"
             title="Slider"
             module="Inchoo_Slider"
             sortOrder="0"
             action="slider/post"
             parent="Inchoo_Slider::post"
             resource="Magento_Backend::content" />
       
    </menu>
</config>
